<div class="m-5">
    <!-- these radio buttons hold state of which card is in front and which toggle button is visible -->
    <input type="radio" name="sushi-lunch" id="happy-radio">
    <input type="radio" name="sushi-lunch" id="lovers-radio" checked>

    <div class="selector">
        <label for="happy-radio" class="happy-card">
            <h1>Career Objective</h1>
            <ul>To be an efficient employee with strong desire, where it would be competent to make use of the
                qualifications and skills through challenges and trigger myself through qualitative and growth-oriented
                performance. </ul>
        </label>

        <label for="lovers-radio" class="lovers-card">
            <h1>Hobby</h1>
            <ul>
                <li>Travel</li>
                <li>Programming</li>
                <li>Reading Book</li>
                <li>Work with computer</li>
                <li>Electronics</li>
            </ul>
        </label>
        
        <label for="happy-radio" class="happy-pick">Switch to Carrear obejctive</label>
        <label for="lovers-radio" class="lovers-pick">Switch to Hobby</label>
    </div>
</div>