<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Deegre</th>
            <th scope="col">INSTITUTE</th>
            <th scope="col">BOARD</th>
            <th scope="col">PASSIGN YEAR</th>
            <th scope="col">CONCENTRATION</th>
            <th scope="col">RESULT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>B.SC</td>
            <td>Rajbari Govt COllege</td>
            <td>Gazipur (NU)</td>
            <td>2019</td>
            <td>Chemistry</td>
            <td>GPA-2.86</td>
        </tr>
        <tr>
            <td>H.S.C</td>
            <td>C.M College</td>
            <td>Dinajpur</td>
            <td>2015</td>
            <td>Science</td>
            <td>GPA-3.58</td>
        </tr>
        <tr>
            <td>S.S.C</td>
            <td>Kashipur M/L High School</td>
            <td>Dinajpur</td>
            <td>2013</td>
            <td>Science</td>
            <td>GPA-4.31</td>
        </tr>
    </tbody>
</table>